<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head2') %>
</head>
<body>

    <header>
        <h1>V채lkommen till min webbplats!</h1>
    </header>
    <a href="/nextpage"><p>G책 till n채sta st채lle</p></a>
  
</body>
</html>